.vscode
.idea
packages/bots/node_modules
packages/cdf/node_modules
packages/client/node_modules
packages/client/.cache
packages/client/.graphql_ppx_cache
packages/client/dist
packages/client/lib
packages/components/node_modules
packages/guesstimator/node_modules
packages/server/node_modules
idea-colors.icls
docker-compose.yml
docker-compose.override.example.yml
Prodfile
README.md
Application.md
app.json
.travis.yml
.gitignore
.directory
