# 1. Persistence
# PORT=80
# NODE_PATH=/opt/app
export NODE_ENV=development

# 2. Auth0 (change)
export AUTH0_SECRET=someSecretStringWithLengthUpToSixtyFourChars
export AUTH0_DOMAIN=example.auth0.com
export AUTH0_CLIENT_ID=someClientIDUpToFourtyChars

# 3. Main
export API_URL=http://localhost/graphql
export SERVER_URL=http://localhost
# export CDF_COMBINE_SIZE=1000
# export AGGR_SCHEDULE="0 * * * *"
export SLACK_WEBHOOK_URL=changeMe
export BOT_TOKEN=someTokenStringWithALengthUpToSixtyFourCharsGetItFromApplication
export JWT_ISSUER=Foretold
export JWT_SECRET=anotherRandomSecretString
export INTERCOM_APP_ID=changeString

# 4. SMTP
export SMTP_HOST=some-smtp-gateway.domain.com
export SMTP_PORT=465
export SMTP_USER=someuser
export SMTP_PASS=somepassword
export SMTP_FROM="UserName <userbox@host.com>"

# 5. GitHub. You must be owner of the repo.
export GITHUB_PERSONAL_ACCESS_TOKEN=someStringOfPersonalAccessToken
export GITHUB_REPO_OWNER=repo-owner
export GITHUB_REPO_NAME=repo-name
export GITHUB_WEBHOOK_SECRET=someRandomSecretString

# 6. Logging.
# GOOGLE_AUTH=none
export LOG_LEVEL_LOCAL=trace
export LOG_LEVEL_REMOTE=trace
export LOG_APP_NAME=foretold

# 7. DB
export DB_USERNAME=postgres
export DB_PASSWORD=password
export DB_DATABASE=development
export DB_HOST=database
# Or:
# export DB_USE_ENV_VARIABLE=DATABASE_URL
