{
    "presets": [
      [
        "env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": [
      [
        "babel-plugin-bucklescript",
        {
          "module": "es6"
        }
      ],
      "transform-object-rest-spread",
      "transform-class-properties"
    ]
}